body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#ffe6ea;
  font-family: 'Georgia', serif;
}

.card{
  background:#ffc0cb;
  width:85%;
  max-width:450px;
  padding:30px;
  border-radius:25px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.card img{
  width:120px;
  border-radius:20px;
}

h1{
  color:#4a0000;
}

p{
  font-size:14px;
  color:#5a2a2a;
}

.buttons{
  margin-top:20px;
}

button{
  padding:12px 30px;
  border:none;
  font-size:18px;
  cursor:pointer;
  color:white;
}

#yes{
  background:red;
}

#no{
  background:blue;
  margin-left:10px;
}
